# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
*.manifest
*.spec

# Django
*.log
*.pot
*.py[cod]
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
.env
.venv
.vscode/
.idea/
*.swp
*.swo

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

